.card.mb-3
  .card-header
    i.fa.fa-heartbeat
    |  Pulse and Oxygen in blood
  .card-body
    canvas#myBarChart(width='100', height='50')
  .card-footer.small.text-muted
    | Updated at 
    p1#date_updated_2