.card.mb-3
          .card-header
            i.fa.fa-area-chart
            |  Blood pressure
          .card-body
            canvas#myAreaChart(width='100%', height='30')
          .card-footer.small.text-muted
            | Updated at  
            p1#date_updated_1
