.card.mb-3
              .card-header
                i.fa.fa-pie-chart
                |  Pie Chart Example
              .card-body
                canvas#myBarChart(width='100%', height='100')
              .card-footer.small.text-muted
                | Updated yesterday at 11:59 PM