.masthead(style= "margin: 0;padding: 100px;width: 100%;color: #fff;text-align: center;text-shadow: 0 1px 0 rgba(0,0,0,0.1);background-color: #18bc9c;background-repeat: repeat-x;")
    .container
        img.img-fluid.mb-5.d-block.mx-auto(src='../profile.png', alt='')
        h1.text-uppercase.mb-0 Take care of your health
        hr.star-light
        h2.font-weight-light.mb-0 We are following your health
        .signup(style='margin-top: 30px; ')
            button.btn.btn-success.mb-3.mb-md-0.mr-md-3(type='button')
                h4 Sign in
            button.btn.btn-outline-success.mb-3.mb-md-0.mr-md-3(type='button')
                h4 Register
