.col-lg-7   
            .mb-0.mt-4
              i.fa.fa-newspaper-o
              |  News Feed
            hr.mt-2
            .card-rows
              .card.mb-3
                form(id='status-post', method='POST',style= 'margin-top: 10px;margin-left: 10px;margin-right: 10px')
                  .form-group
                    label(for='post-textbox') How do you feel?
                    textarea#post-textbox.form-control(rows='5', name = 'texbox', style = 'background-color: rgba(2,117,216,0.1)')
                  .checkbox(style= 'float:right;')
                    label
                      input(type='checkbox',name='blood-pressure')
                      |  Blood pressure       
                      input(type='checkbox',name='pulse')
                      |  Pulse     
                  button.btn.btn-primary(type='submit',style='margin-bottom:10px') Post
            div#post-box

            each status in post
              hr.mt-2
              .card-rows
                .card.mb-3
                  a(href='#')
                  .card-body
                    h6.card-title.mb-1
                      a(href='#')=status.creator.name.First            
                    p.card-text.small
                      =status.message
                  hr.my-0
                  .card-body.py-2.small
                    a.mr-3.d-inline-block(href='#')
                      i.fa.fa-fw.fa-thumbs-up
                      | Like
                    a.mr-3.d-inline-block(href='#')
                      i.fa.fa-fw.fa-comment
                      | Comment
                    a.d-inline-block(href='#')
                      i.fa.fa-fw.fa-share
                      | Share
                 
                  form.input-group(id='comment-post', style='padding:5px;')
                    input.form-control(type='text', name =status.id, placeholder='Comment',style = 'background-color: rgba(2,117,216,0.1);font-size: 80%;font-weight: 400;')
                    .input-group-btn
                      button#send-comment.btn.btn-outline-primary(type='submit')
                        i.fa.fa-send
                  p#noidung
                  .card-footer.small.text-muted
                    | Posted at 
                    =status.time       
script.
  $(document).ready( function() {
    $( "#status-post" ).submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/status',
            data: $('#status-post').serialize(),
            dataType: "json",
            success: function(response)
            {
              console.log('response');
              clearInputs();
              Show();
            },  
            error: function() {
            }
          })
    });
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [label]);
      });
      $('.btn-file :file').on('fileselect', function(event, label) {
          
          var input = $(this).parents('.input-group').find(':text'),
              log = label;
          
          if( !input.length ) {
              input.val(log);
          } 
        
      });
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
              
              reader.onload = function (e) {
                  $('#img-upload').attr('src', e.target.result);
              }                
              reader.readAsDataURL(input.files[0]);
          }
      }        

          $("#imgInp").change(function(){
              readURL(this);
          }); 	
        });
        function Show(){
           $.ajax({
            type: 'GET',
            url: '/show',
            dataType: "json",
            success: function(response){
                console.log(response);
                var tbodyEl = $('#post-box');
                tbodyEl.html('');
                response.forEach(function(res) {
                    tbodyEl.append('\
                      <div class="card-rows">\
                        <div class="card mb-3"\
                          <a href="#"></a>\
                            <div class="card-body">\
                              <h6 class="card-title mb-1">\
                                <a href="#">Huu Vinh</a>\
                              </h6>\
                              <p class="card-text small">'+ res.message +'</p>\
                            </div>\
                            <hr class="my-0">\
                              <div class="card-body py-2 small">\
                                <a class="mr-3 d-inline-block" href="#">\
                                  <i class="fa fa-fw fa-thumbs-up"></i>Like</a><a class="mr-3 d-inline-block" href="#"><i class="fa fa-fw fa-comment"></i>Comment</a><a class="d-inline-block" href="#"><i class="fa fa-fw fa-share"></i>Share\
                                </a>\
                              </div>\
                              <form class="input-group" id="comment-post" style="padding:5px;"><input class="form-control" name="new-post" placeholder="Comment" style="background-color: rgba(2,117,216,0.1);font-size: 80%;font-weight: 400;" type="text">\
                                <div class="input-group-btn">\
                                  <button class="btn btn-outline-primary" id="send-comment" type="submit"><i class="fa fa-send"></i></button>\
                                </div>\
                              </form>\
                              <p id="noidung"></p>\
                              <div class="card-footer small text-muted">Posted a few seconds ago</div>\
                          </div>\
                        </div>      \
                        \
                      ');
                });
            },
            error: function() {
            }
        })
       }
        function clearInputs(){
        $("#post-textbox").val('');
        }
    
