.card.mb-3
        .card-header
            i.fa.fa-table
            |  Data Table
        .card-body
            .table-responsive
                table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                    thead
                      tr
                        th Date
                        th Blood Pressure
                        th Pulse
                        th Oxygen in blood
                    tbody
                      each object in index
                        tr            
                          td= object.Date
                          td= object.Blood_pressure
                          td= object.Pulse
                          td= object.Oxygen            
                        
        .card-footer.small.text-muted
            | Updated at 
            p1#date_updated_3