doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='../assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='../assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HEALTHY WEB
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    // CSS Files
    link(href='../assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='../assets/css/now-ui-dashboard.css?v=1.0.1', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='../assets/demo/demo.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='orange')
        .logo
          a.simple-text.logo-normal(href='/')
            | HEALTHY
        .sidebar-wrapper
          ul.nav
            li.active
              a(href='/')
                i.now-ui-icons.design_app
                p Dashboard
            li
              a(href='/news-feed')
                i.now-ui-icons.ui-2_chat-round
                p News feed
            li
              a(href='/profile')
                i.now-ui-icons.users_single-02
                p User Profile
            li
              a(href='/tables')
                i.now-ui-icons.design_bullet-list-67
                p Table List
            li.active-pro
              a(href='/upgrade.html')
                i.now-ui-icons.arrows-1_cloud-download-93
                p Instll application
      .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.bg-primary.fixed-top
          .container-fluid
            .navbar-wrapper
              .navbar-toggle
                button.navbar-toggler(type='button')
                  span.navbar-toggler-bar.bar1
                  span.navbar-toggler-bar.bar2
                  span.navbar-toggler-bar.bar3
              a.navbar-brand(href='#pablo') Dashboard
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
            #navigation.collapse.navbar-collapse.justify-content-end
              form
                .input-group.no-border
                  input.form-control(type='text', value='', placeholder='Search...')
                  span.input-group-addon
                    i.now-ui-icons.ui-1_zoom-bold
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.now-ui-icons.media-2_sound-wave
                    p
                      span.d-lg-none.d-md-block Stats
                li.nav-item.dropdown
                  a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.now-ui-icons.users_single-02
                    p
                      span.d-lg-none.d-md-block Some Actions
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='profile') Profile
                    a.dropdown-item(href='#') Notification
                    a.dropdown-item(href='/logout') Log out

        // End Navbar
        .panel-header.panel-header-lg
          canvas#bigDashboardChart
        .content
          .row
            .col-lg-4
              .card.card-chart
                .card-header
                  h5.card-category Global Sales
                  h4.card-title Body Temperature
                  .dropdown
                    button.btn.btn-round.btn-default.dropdown-toggle.btn-simple.btn-icon.no-caret(type='button', data-toggle='dropdown')
                      i.now-ui-icons.loader_gear
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href='#') Action
                      a.dropdown-item(href='#') Another action
                      a.dropdown-item(href='#') Something else here
                      a.dropdown-item.text-danger(href='#') Remove Data
                .card-body
                  .chart-area
                    canvas#lineChartExample
                .card-footer
                  .stats
                    i.now-ui-icons.arrows-1_refresh-69
                    |  Just Updated
            .col-lg-4.col-md-6
              .card.card-chart
                .card-header
                  h5.card-category 2018 Sales
                  h4.card-title SPO2
                  .dropdown
                    button.btn.btn-round.btn-default.dropdown-toggle.btn-simple.btn-icon.no-caret(type='button', data-toggle='dropdown')
                      i.now-ui-icons.loader_gear
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href='#') Action
                      a.dropdown-item(href='#') Another action
                      a.dropdown-item(href='#') Something else here
                      a.dropdown-item.text-danger(href='#') Remove Data
                .card-body
                  .chart-area
                    canvas#lineChartExampleWithNumbersAndGrid
                .card-footer
                  .stats
                    i.now-ui-icons.arrows-1_refresh-69
                    |  Just Updated
            .col-lg-4.col-md-6
              .card.card-chart
                .card-header
                  h5.card-category Email Statistics
                  h4.card-title Heart Rate
                .card-body
                  .chart-area
                    canvas#heartRateChart
                .card-footer
                  .stats
                    i.now-ui-icons.ui-2_time-alarm
                    |  Last 7 days
          //news feed tab
          include include/diagnosis.pug
        footer.footer
            .copyright
              | ©
              script.
                document.write(new Date().getFullYear())
              | , Designed by
              a(href='https://www.invisionapp.com', target='_blank') Thesis
              | . Coded by
              a(href='https://www.creative-tim.com', target='_blank') Vinh - Thai
              | .
      //Draw chart
      script(type='text/javascript').
        demo = {
            initPickColor: function(){
                $('.pick-class-label').click(function(){
                    var new_class = $(this).attr('new-class');
                    var old_class = $('#display-buttons').attr('data-class');
                    var display_div = $('#display-buttons');
                    if(display_div.length) {
                    var display_buttons = display_div.find('.btn');
                    display_buttons.removeClass(old_class);
                    display_buttons.addClass(new_class);
                    display_div.attr('data-class', new_class);
                    }
                });
            },

            initDocChart: function(){
              chartColor = "#FFFFFF";

              // General configuration for the charts with Line gradientStroke
              gradientChartOptionsConfiguration = {
                  maintainAspectRatio: false,
                  legend: {
                      display: false
                  },
                  tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                  },
                  responsive: true,
                  scales: {
                      yAxes: [{
                        display:0,
                        gridLines:0,
                        ticks: {
                            display: false
                        },
                        gridLines: {
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: false,
                            drawBorder: false
                        }
                      }],
                      xAxes: [{
                        display:0,
                        gridLines:0,
                        ticks: {
                            display: false
                        },
                        gridLines: {
                          zeroLineColor: "transparent",
                          drawTicks: false,
                          display: false,
                          drawBorder: false
                        }
                      }]
                  },
                  layout:{
                    padding:{left:0,right:0,top:15,bottom:15}
                  }
              };

              ctx = document.getElementById('lineChartExample').getContext("2d");

              gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
              gradientStroke.addColorStop(0, '#80b6f4');
              gradientStroke.addColorStop(1, chartColor);

              gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
              gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
              gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");

              myChart = new Chart(ctx, {
                  type: 'line',
                  responsive: true,
                  data: {
                      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                      datasets: [{
                          label: "Active Users",
                          borderColor: "#f96332",
                          pointBorderColor: "#FFF",
                          pointBackgroundColor: "#f96332",
                          pointBorderWidth: 2,
                          pointHoverRadius: 4,
                          pointHoverBorderWidth: 1,
                          pointRadius: 4,
                          fill: true,
                          backgroundColor: gradientFill,
                          borderWidth: 2,
                          data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 630]
                      }]
                  },
                  options: gradientChartOptionsConfiguration
              });
            },

            initDashboardPageCharts: function(){

              chartColor = "#FFFFFF";

              // General configuration for the charts with Line gradientStroke
              gradientChartOptionsConfiguration = {
                  maintainAspectRatio: false,
                  legend: {
                      display: false
                  },
                  tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                  },
                  responsive: 1,
                  scales: {
                      yAxes: [{
                        display:0,
                        gridLines:0,
                        ticks: {
                            display: false
                        },
                        gridLines: {
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: false,
                            drawBorder: false
                        }
                      }],
                      xAxes: [{
                        display:0,
                        gridLines:0,
                        ticks: {
                            display: false
                        },
                        gridLines: {
                          zeroLineColor: "transparent",
                          drawTicks: false,
                          display: false,
                          drawBorder: false
                        }
                      }]
                  },
                  layout:{
                    padding:{left:0,right:0,top:15,bottom:15}
                  }
              };

              gradientChartOptionsConfigurationWithNumbersAndGrid = {
                  maintainAspectRatio: false,
                  legend: {
                      display: false
                  },
                  tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                  },
                  responsive: true,
                  scales: {
                      yAxes: [{
                        gridLines:0,
                        gridLines: {
                            zeroLineColor: "transparent",
                            drawBorder: false
                        }
                      }],
                      xAxes: [{
                        display:0,
                        gridLines:0,
                        ticks: {
                            display: false
                        },
                        gridLines: {
                          zeroLineColor: "transparent",
                          drawTicks: false,
                          display: false,
                          drawBorder: false
                        }
                      }]
                  },
                  layout:{
                    padding:{left:0,right:0,top:15,bottom:15}
                  }
              };
              var index=!{JSON.stringify(index)};
              var j = 0;
              var blood_prs_index = [];
              var date = [];
              for (var i = index.length - 13; i < index.length; i++) {
                if(i < 0 )
                  continue;
                blood_prs_index[j] = index[i].Blood_pressure;
                date[j++] = (new Date(index[i].Date)).toLocaleDateString('en-US');
              }


              var ctx = document.getElementById('bigDashboardChart').getContext("2d");

              var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
              gradientStroke.addColorStop(0, '#80b6f4');
              gradientStroke.addColorStop(1, chartColor);

              var gradientFill = ctx.createLinearGradient(0, 200, 0, 50);
              gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
              gradientFill.addColorStop(1, "rgba(255, 255, 255, 0.24)");


              var myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: date,
                      datasets: [{
                          label: "Data",
                          borderColor: chartColor,
                          pointBorderColor: chartColor,
                          pointBackgroundColor: "#1e3d60",
                          pointHoverBackgroundColor: "#1e3d60",
                          pointHoverBorderColor: chartColor,
                          pointBorderWidth: 1,
                          pointHoverRadius: 7,
                          pointHoverBorderWidth: 2,
                          pointRadius: 5,
                          fill: true,
                          backgroundColor: gradientFill,
                          borderWidth: 2,
                          data: blood_prs_index,
                      }]
                  },
                  options: {
                      layout: {
                          padding: {
                              left: 20,
                              right: 20,
                              top: 0,
                              bottom: 0
                          }
                      },
                      maintainAspectRatio: false,
                      tooltips: {
                        backgroundColor: '#fff',
                        titleFontColor: '#333',
                        bodyFontColor: '#666',
                        bodySpacing: 4,
                        xPadding: 12,
                        mode: "nearest",
                        intersect: 0,
                        position: "nearest"
                      },
                      legend: {
                          position: "bottom",
                          fillStyle: "#FFF",
                          display: false
                      },
                      scales: {
                          yAxes: [{
                              ticks: {
                                  fontColor: "rgba(255,255,255,0.4)",
                                  fontStyle: "bold",
                                  beginAtZero: true,
                                  max: 200,
                                  maxTicksLimit: 5,
                                  padding: 10
                              },
                              gridLines: {
                                  drawTicks: true,
                                  drawBorder: false,
                                  display: true,
                                  color: "rgba(255,255,255,0.1)",
                                  zeroLineColor: "transparent"
                              }

                          }],
                          xAxes: [{
                              time: {
                                unit: 'date'
                              },
                              gridLines: {
                                  zeroLineColor: "transparent",
                                  display: false,

                              },
                              ticks: {
                                  padding: 10,
                                  fontColor: "rgba(255,255,255,0.4)",
                                  fontStyle: "bold"
                              }
                          }]
                      }
                  }
              });

              var cardStatsMiniLineColor = "#fff",
                  cardStatsMiniDotColor = "#fff";

              ctx = document.getElementById('lineChartExample').getContext("2d");

              gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
              gradientStroke.addColorStop(0, '#80b6f4');
              gradientStroke.addColorStop(1, chartColor);

              gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
              gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
              gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");

              myChart = new Chart(ctx, {
                  type: 'line',
                  responsive: true,
                  data: {
                      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                      datasets: [{
                          label: "Active Users",
                          borderColor: "#f96332",
                          pointBorderColor: "#FFF",
                          pointBackgroundColor: "#f96332",
                          pointBorderWidth: 2,
                          pointHoverRadius: 4,
                          pointHoverBorderWidth: 1,
                          pointRadius: 4,
                          fill: true,
                          backgroundColor: gradientFill,
                          borderWidth: 2,
                          data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 630]
                      }]
                  },
                  options: gradientChartOptionsConfiguration
              });

              var index=!{JSON.stringify(index)};
              var j = 0;
              var oxygen = [];
              var date = [];
              for (var i = index.length - 13; i < index.length; i++) {
                if(i < 0 )
                  continue;
                oxygen[j] = index[i].Oxygen;
                date[j++] = (new Date(index[i].Date)).toLocaleDateString('en-US');
              }

              ctx = document.getElementById('lineChartExampleWithNumbersAndGrid').getContext("2d");

              gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
              gradientStroke.addColorStop(0, '#18ce0f');
              gradientStroke.addColorStop(1, chartColor);

              gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
              gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
              gradientFill.addColorStop(1, hexToRGB('#18ce0f',0.4));

              myChart = new Chart(ctx, {
                  type: 'line',
                  responsive: true,
                  data: {
                      labels: date,
                      datasets: [{
                          label: "Email Stats",
                          borderColor: "#18ce0f",
                          pointBorderColor: "#FFF",
                          pointBackgroundColor: "#18ce0f",
                          pointBorderWidth: 2,
                          pointHoverRadius: 4,
                          pointHoverBorderWidth: 1,
                          pointRadius: 4,
                          fill: true,
                          backgroundColor: gradientFill,
                          borderWidth: 2,
                          data: oxygen
                      }]
                  },
                  options: gradientChartOptionsConfigurationWithNumbersAndGrid
              });

              var j = 0;
              var pulse = [];
              var date = [];
              for (var i = index.length - 13; i < index.length; i++) {
                if(i < 0 )
                  continue;
                pulse[j] = index[i].Pulse;
                date[j++] = (new Date(index[i].Date)).toLocaleDateString('en-US');
              }
              var e = document.getElementById("heartRateChart").getContext("2d");

              gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
              gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
              gradientFill.addColorStop(1, hexToRGB('#2CA8FF', 0.6));

              var a =  {
                type : "bar",
                data : {
                  labels : date,
                  datasets: [{
                    label: "Active Countries",
                    backgroundColor: gradientFill,
                    borderColor: "#2CA8FF",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#2CA8FF",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    fill: true,
                    borderWidth: 1,
                    data: pulse
                  }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    tooltips: {
                      bodySpacing: 4,
                      mode:"nearest",
                      intersect: 0,
                      position:"nearest",
                      xPadding:10,
                      yPadding:10,
                      caretPadding:10
                    },
                    responsive: 1,
                    scales: {
                        yAxes: [{
                          gridLines:0,
                          gridLines: {
                              zeroLineColor: "transparent",
                              drawBorder: false
                          }
                        }],
                        xAxes: [{
                          display:0,
                          gridLines:0,
                          ticks: {
                              display: false
                          },
                          gridLines: {
                            zeroLineColor: "transparent",
                            drawTicks: false,
                            display: false,
                            drawBorder: false
                          }
                        }]
                    },
                    layout:{
                      padding:{left:0,right:0,top:15,bottom:15}
                    }
                }
              };

              var viewsChart = new Chart(e,a);
            },

            initGoogleMaps: function(){
                var myLatlng = new google.maps.LatLng(40.748817, -73.985428);
                var mapOptions = {
                  zoom: 13,
                  center: myLatlng,
                  scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
                  styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
                };

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    title:"Hello World!"
                });

                // To add the marker to the map, call setMap();
                marker.setMap(map);
            },

          showNotification: function(from, align){
              color = 'primary';

              $.notify({
                  icon: "now-ui-icons ui-1_bell-53",
                  message: "Welcome to <b>Now Ui Dashboard Pro</b> - a beautiful freebie for every web developer."

                },{
                    type: color,
                    timer: 8000,
                    placement: {
                        from: from,
                        align: align
                    }
                });
          }

        };


    // Core JS Files
    script(src='../assets/js/core/jquery.min.js')
    script(src='../assets/js/core/popper.min.js')
    script(src='../assets/js/core/bootstrap.min.js')
    script(src='../assets/js/plugins/perfect-scrollbar.jquery.min.js')
    // Chart JS
    script(src='../assets/js/plugins/chartjs.min.js')
    // Notifications Plugin
    script(src='../assets/js/plugins/bootstrap-notify.js')
    // Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
    script(src='../assets/js/now-ui-dashboard.js?v=1.0.1')

    script.
      $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
      });
