doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='./assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='./assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HEALTHY - Follow your health
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    // CSS Files
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/now-ui-kit.css?v=1.1.0', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='assets/css/demo.css', rel='stylesheet')
    // Canonical SEO
    link(rel='canonical', href='https://www.creative-tim.com/product/now-ui-kit')
    // Social tags
    meta(name='keywords', content='bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, now ui, now ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit')
    meta(name='description', content='Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.')
    // Schema.org markup for Google+
    meta(itemprop='name', content='Healthy')
    meta(itemprop='description', content='Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.')
    meta(itemprop='image', content='http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg')
    // Open Graph data
    meta(property='fb:app_id', content='655968634437471')
    meta(property='og:title', content='Now UI Kit by Creative Tim')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://demos.creative-tim.com/now-ui-kit/index.html')
    meta(property='og:image', content='http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg')
    meta(property='og:description', content='Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.')
    meta(property='og:site_name', content='Creative Tim')
  body.landing-page.sidebar-collapse
    // Navbar
    nav.navbar.navbar-expand-lg.bg-primary.fixed-top.navbar-transparent(color-on-scroll='400')
      .container
        .dropdown.button-dropdown
          a#navbarDropdown.dropdown-toggle(href='#pablo', data-toggle='dropdown')
            span.button-bar
            span.button-bar
            span.button-bar
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-header Dropdown header
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated link
            .dropdown-divider
            a.dropdown-item(href='#') One more separated link
        .navbar-translate
          a.navbar-brand(href='#', rel='tooltip', title='Show your health', data-placement='bottom', target='_blank')
            | Healthy
          button.navbar-toggler.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-bar.bar1
            span.navbar-toggler-bar.bar2
            span.navbar-toggler-bar.bar3
        .collapse.navbar-collapse.justify-content-end(data-nav-image='../assets/img/blurred-image-1.jpg')
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/contact') Contact us
            li.nav-item.active
              a.nav-link(href='/login') Sign in
            li.nav-item
              a.nav-link(href='/register') Sign up
            li.nav-item
              a.nav-link(rel='tooltip', title='Like us on Facebook', data-placement='bottom', href='https://www.facebook.com/CreativeTim', target='_blank')
                i.fa.fa-facebook-square
                p.d-lg-none.d-xl-none Facebook
            li.nav-item
              a.nav-link(rel='tooltip', title='Follow us on Instagram', data-placement='bottom', href='https://www.instagram.com/CreativeTimOfficial', target='_blank')
                i.fa.fa-instagram
                p.d-lg-none.d-xl-none Instagram
    // End Navbar
    .wrapper
      .page-header.page-header-small
        .page-header-image(data-parallax='true', style="background-image: url('../assets/img/healthy.jpg');")
        .container
          .content-center
            h1.title We follow your health.
            .text-center
              a.btn.btn-primary.btn-icon.btn-round(href='https://facebook.com/phvinh.ace')
                i.fa.fa-facebook-square
              a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                i.fa.fa-twitter
              a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                i.fa.fa-instagram
      .section.section-about-us
        .container
          .row
            .col-md-8.ml-auto.mr-auto.text-center
              h2.title Who are we?
              h5.description
                | This is a paragraph we should introduce about our project we made. 
          .separator.separator-primary
          .section-story-overview
            .row
              .col-md-6
                .image-container.image-left(style="background-image: url('../assets/img/login.jpg')")
                  // First image on the left side
                  p.blockquote.blockquote-primary
                    | "I believe that the greatest gift you can give your family and the world is a healthy you."
                    br
                    br
                    small - Joyce Meyer
                // Second image on the left side of the article
                .image-container(style="background-image: url('../assets/img/bg3.jpg')")
              .col-md-5
                // First image on the right side, above the article
                .image-container.image-right(style="background-image: url('../assets/img/bg1.jpg')")
                h3 Vital signs - What are they?
                p
                  | Vital signs (often shortened to just vitals) are a group of the 4 to 6 most important signs that indicate the status of the body’s vital (life-sustaining) functions. These measurements are taken to help assess the general physical health of a person, give clues to possible diseases, and show progress toward recovery
                  | he normal ranges for a person’s vital signs vary with age, weight, gender, and overall health
                p
                  | There are four primary vital signs: body temperature, blood pressure, pulse (heart rate), and breathing rate (respiratory rate), often notated as BT, BP, HR, and RR. However, depending on the clinical setting, the vital signs may include other measurements called the "fifth vital sign" or "sixth vital sign". Vital signs are recorded using the LOINC internationally accepted standard coding system
                p
                  | Early warning scores have been proposed that combine the individual values of vital signs into a single score. This was done in recognition that deteriorating vital signs often precede cardiac arrest and/or admission to the intensive care unit. Used appropriately, a rapid response team can assess and treat a deteriorating patient and prevent adverse outcomes.
      .section.section-team.text-center
        .container
          h2.title Here is our team
          .team
            .row
              .col-md-6
                .team-player
                  img.rounded-circle.img-fluid.img-raised(src='../assets/img/avatar.jpg', alt='Thumbnail Image')
                  h4.title Thai Van Do
                  p.category.text-primary Software engineer
                  p.description
                    | You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                    a(href='#') links
                    |  for people to be able to follow them outside the site.
                  a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                    i.fa.fa-twitter
                  a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                    i.fa.fa-instagram
                  a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                    i.fa.fa-facebook-square
             
              .col-md-6
                .team-player
                  img.rounded-circle.img-fluid.img-raised(src='../assets/img/eva.jpg', alt='Thumbnail Image')
                  h4.title Vinh Huu Pham
                  p.category.text-primary Software engineer
                  p.description
                    | You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                    a(href='#') links
                    |  for people to be able to follow them outside the site.
                  a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                    i.fa.fa-google-plus
                  a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                    i.fa.fa-youtube-play
                  a.btn.btn-primary.btn-icon.btn-round(href='#pablo')
                    i.fa.fa-twitter
      .section.section-contact-us.text-center
        .container
          h2.title Want to work with us?
          p.description Your project is very important to us.
          .row
            .col-lg-6.text-center.col-md-8.ml-auto.mr-auto
              .input-group.input-lg
                span.input-group-addon
                  i.now-ui-icons.users_circle-08
                input.form-control(type='text', placeholder='First Name...')
              .input-group.input-lg
                span.input-group-addon
                  i.now-ui-icons.ui-1_email-85
                input.form-control(type='text', placeholder='Email...')
              .textarea-container
                textarea.form-control(name='name', rows='4', cols='80', placeholder='Type a message...')
              .send-button
                a.btn.btn-primary.btn-round.btn-block.btn-lg(href='#pablo') Send Message
      footer.footer.footer-default
        .container
          nav
            ul
              li
                a(href='https://www.creative-tim.com')
                  | Creative Tim
              li
                a(href='http://presentation.creative-tim.com')
                  | About Us
              li
                a(href='http://blog.creative-tim.com')
                  | Blog
              li
                a(href='https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md')
                  | MIT License
          .copyright
            | ©
            script.
              document.write(new Date().getFullYear())
            | , Designed by
            a(href='http://www.invisionapp.com', target='_blank') Invision
            | . Coded by
            a(href='https://www.creative-tim.com', target='_blank') Creative Tim
            | .
    // Core JS Files
    script(src='assets/js/core/jquery.3.2.1.min.js', type='text/javascript')
    script(src='assets/js/core/popper.min.js', type='text/javascript')
    script(src='assets/js/core/bootstrap.min.js', type='text/javascript')
    // Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
    script(src='assets/js/plugins/bootstrap-switch.js')
    // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
    script(src='assets/js/plugins/nouislider.min.js', type='text/javascript')
    // Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker
    script(src='assets/js/plugins/bootstrap-datepicker.js', type='text/javascript')
    // Share Library etc
    script(src='assets/js/plugins/jquery.sharrre.js', type='text/javascript')
    // Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc
    script(src='assets/js/now-ui-kit.js?v=1.1.0', type='text/javascript')
