doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='../assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='../assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HEALTHY - PROFILE
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    // CSS Files
    link(href='../assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='../assets/css/now-ui-dashboard.css?v=1.0.1', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='../assets/demo/demo.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='orange')
        //
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
          a.simple-text.logo-normal(href='/')
            | HEALTHY
        .sidebar-wrapper
          ul.nav
            li
              a(href='/')
                i.now-ui-icons.design_app
                p Dashboard
            li.active
              a(href='/news-feed')
                i.now-ui-icons.ui-2_chat-round
                p News feed
            li
              a(href='/profile')
                i.now-ui-icons.users_single-02
                p User Profile
            li
              a(href='/tables')
                i.now-ui-icons.design_bullet-list-67
                p Table List
            li.active-pro
              a(href='/upgrade.html')
                i.now-ui-icons.arrows-1_cloud-download-93
                p Instll application
      .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.bg-primary.fixed-top
          .container-fluid
            .navbar-wrapper
              .navbar-toggle
                button.navbar-toggler(type='button')
                  span.navbar-toggler-bar.bar1
                  span.navbar-toggler-bar.bar2
                  span.navbar-toggler-bar.bar3
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
            #navigation.collapse.navbar-collapse.justify-content-end
              form
                .input-group.no-border
                  input.form-control(type='text', value='', placeholder='Search...')
                  span.input-group-addon
                    i.now-ui-icons.ui-1_zoom-bold
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.now-ui-icons.media-2_sound-wave
                    p
                      span.d-lg-none.d-md-block Stats
                li.nav-item.dropdown
                  a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.now-ui-icons.users_single-02
                    p
                      span.d-lg-none.d-md-block Some Actions
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here

        // End Navbar
        .panel-header
          .header.text-center
            h2.title News feed
            p.category
              | Let's contact to your docotr to get some helpful suggestions
        
        .content
          .row
            .card
              .card-header
                h5.title How do you feel?
              .card-body
                form.form(id='status-post',method='POST', action='/status')
                  .form-group
                    textarea.form-control(rows='4', name = 'InputPost', cols='80', style='font-size:20px;') 
                  .form-group
                    input.btn.btn-primary.btn-round(type='submit', value='Post')
            .card
              .card-header
                h5.title News
                div#post-box
                  each status in post
                    .card-header
                      .card.mb-3
                        a(href='#')
                        .card-body
                          h6.card-title.mb-1
                            a(href='#')=status.creator.name.First            
                          p.card-text.medium
                            =status.message
                        hr.my-0
                        .card-body.small
                          a.mr-3.d-inline-block(href='#')
                            i.fa.fa-fw.fa-thumbs-up
                            | Like
                          a.mr-3.d-inline-block(href='#')
                            i.fa.fa-fw.fa-comment
                            | Comment
                          a.d-inline-block(href='#')
                            i.fa.fa-fw.fa-share
                            | Share           
                        form.form.input-group(id='comment-post', style='padding:5px;')
                          input.form-control(type='text', name =status.id, placeholder='Comment',style = 'background-color: rgba(2,117,216,0.1);font-size: 15px;font-weight: 200;')
                          .input-group-append
                            button.btn.btn-outline-secondary(type='button') Send
                .card-footer
                  hr
                  .stats
                      i.now-ui-icons.loader_refresh.spin
                      |  Updated 3 minutes ago
            

        footer.footer
          .container-fluid
            nav
              ul
                li
                  a(href='https://www.creative-tim.com')
                    | Creative Tim
                li
                  a(href='http://presentation.creative-tim.com')
                    | About Us
                li
                  a(href='http://blog.creative-tim.com')
                    | Blog
script.
  $(document).ready( function() {
    $("#status-post").submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/status',
            data: $('#status-post').serialize(),
            dataType: "json",
            success: function(response)
            {
              console.log('response');
              clearInputs();
              Show();
            },  
            error: function() {
            }
          })
    });
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [label]);
      });
      $('.btn-file :file').on('fileselect', function(event, label) {    
          var input = $(this).parents('.input-group').find(':text'),
              log = label;
          
          if( !input.length ) {
              input.val(log);
          } 
        
      });
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
              
              reader.onload = function (e) {
                  $('#img-upload').attr('src', e.target.result);
              }                
              reader.readAsDataURL(input.files[0]);
          }
      }        

          $("#imgInp").change(function(){
              readURL(this);
          }); 	
        });
        function Show(){
          $.ajax({
            type: 'GET',
            url: '/show',
            dataType: "json",
            success: function(response){
                console.log(response);
                var tbodyEl = $('#post-box');
                tbodyEl.html('');
                response.forEach(function(res) {
                    tbodyEl.append('\
                      .card.mb-3\
                        a(href=\'#\')\
                        .card-body\
                          h6.card-title.mb-1\
                            a(href=\'#\') Huu Vinh\
                          p.card-text.medium  test\
                        hr.my-0\
                        .card-body.small\
                          a.mr-3.d-inline-block(href=\'#\')\
                            i.fa.fa-fw.fa-thumbs-up\
                            | Like\
                          a.mr-3.d-inline-block(href=\'#\')\
                            i.fa.fa-fw.fa-comment\
                            | Comment\
                          a.d-inline-block(href=\'#\')\
                            i.fa.fa-fw.fa-share\
                            | Share\
                        form#comment-post.form.input-group(style=\'padding:5px;\')\
                          input.form-control(type=\'text\', name=\'5c42aad9498b8749d05c66e0\', placeholder=\'Comment\', style=\'background-color: rgba(2,117,216,0.1);font-size: 15px;font-weight: 200;\')\
                          .input-group-append\
                            button.btn.btn-outline-secondary(type=\'button\') Send                      ');
                });
            },
            error: function() {
            }
        })
      }
        function clearInputs(){
        $("#post-textbox").val('');
        }

// Core JS Files
script(src='../assets/js/core/jquery.min.js')
script(src='../assets/js/core/popper.min.js')
script(src='../assets/js/core/bootstrap.min.js')
script(src='../assets/js/plugins/perfect-scrollbar.jquery.min.js')
// Chart JS
script(src='../assets/js/plugins/chartjs.min.js')
// Notifications Plugin
script(src='../assets/js/plugins/bootstrap-notify.js')
// Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
script(src='../assets/js/now-ui-dashboard.js?v=1.0.1')
// Now Ui Dashboard DEMO methods, don't include it in your project!
script(src='../assets/demo/demo.js')
