doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='../assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='../assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HEALTHY - PROFILE
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    // CSS Files
    link(href='../assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='../assets/css/now-ui-dashboard.css?v=1.0.1', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='../assets/demo/demo.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='orange')
        //
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
          a.simple-text.logo-normal(href='/')
            | HEALTHY
        .sidebar-wrapper
          ul.nav
            li
              a(href='/')
                i.now-ui-icons.design_app
                p Dashboard
            li
              a(href='/news-feed')
                i.now-ui-icons.ui-2_chat-round
                p News feed
            li.active
              a(href='/profiler')
                i.now-ui-icons.users_single-02
                p User Profile
            li
              a(href='/tables')
                i.now-ui-icons.design_bullet-list-67
                p Table List
            li.active-pro
              a(href='/upgrade.html')
                i.now-ui-icons.arrows-1_cloud-download-93
                p Instll application
      .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.bg-primary.fixed-top
          .container-fluid
            .navbar-wrapper
              .navbar-toggle
                button.navbar-toggler(type='button')
                  span.navbar-toggler-bar.bar1
                  span.navbar-toggler-bar.bar2
                  span.navbar-toggler-bar.bar3
              a.navbar-brand(href='#pablo') Dashboard
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
            #navigation.collapse.navbar-collapse.justify-content-end
              form
                .input-group.no-border
                  input.form-control(type='text', value='', placeholder='Search...')
                  span.input-group-addon
                    i.now-ui-icons.ui-1_zoom-bold
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.now-ui-icons.media-2_sound-wave
                    p
                      span.d-lg-none.d-md-block Stats
                li.nav-item.dropdown
                  a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.now-ui-icons.location_world
                    p
                      span.d-lg-none.d-md-block Some Actions
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.now-ui-icons.users_single-02
                    p
                      span.d-lg-none.d-md-block Account
        // End Navbar
        .panel-header.panel-header-sm
        .content
          .row
            .col-md-8
              .card
                .card-header
                  h5.title My Profile
                .card-body
                  form.form(method='POST', action='/update_profile')
                    .row
                      .col-md-6.pr-1
                        .form-group
                          label First Name
                          input.form-control(type='text', name ='InputName', placeholder='Company', value=account.name.First)
                      .col-md-6.pl-1
                        .form-group
                          label Last Name
                          input.form-control(type='text', name='InputLastName', placeholder='Last Name', value=account.name.Last)
                    .row
                      .col-md-12
                        .form-group
                          label Email
                          input.form-control(type='text', name ="InputEmail", disabled='', value=account.login.email)
                    .row
                      .col-md-6.pr-1
                        .form-group
                          label Phone
                          input.form-control(type='text', name ='InputPhone', placeholder='Phone', value=account.detail.phone)
                      .col-md-6.pl-1
                        .form-group
                          label Date of birth
                          input.form-control(type='date', name ='InputDateOfBirth', value=new Date(account.detail.date_of_birth).toLocaleDateString())
                    .row
                      .col-md-12
                        .form-group
                          label About Me
                          textarea.form-control(rows='4', name = 'InputAboutme', cols='80', placeholder='Here can be your description', value=account.detail.aboutme) 
                    .row.text-center 
                      .col-md-6
                      .col-md-6.pl-1
                        input.btn.btn-primary.btn-round(type='submit', value='Update my profile')
            .col-md-4
              .card.card-user
                .image
                  img(src='../assets/img//bg5.jpg', alt='...')
                .card-body
                  .author
                    a(href='#')
                      img.avatar.border-gray(src='../assets/img//default-avatar.png', alt='...')
                      h5.title=account.name.First
                    if(account.detail.aboutme)
                      p.description.text-center
                      |
                      =account.detail.aboutme
                    else
                      p.description.text-center
                      | Always taking care of your health is the most important thing 
                      | you should concern on in your life

                hr
                .button-container
                  button.btn.btn-neutral.btn-icon.btn-round.btn-lg(href='#')
                    i.fab.fa-facebook-f
                  button.btn.btn-neutral.btn-icon.btn-round.btn-lg(href='#')
                    i.fab.fa-twitter
                  button.btn.btn-neutral.btn-icon.btn-round.btn-lg(href='#')
                    i.fab.fa-google-plus-g
        footer.footer
          .container-fluid
            nav
              ul
                li
                  a(href='https://www.creative-tim.com')
                    | Creative Tim
                li
                  a(href='http://presentation.creative-tim.com')
                    | About Us
                li
                  a(href='http://blog.creative-tim.com')
                    | Blog
            .copyright
              | ©
              script.
                document.write(new Date().getFullYear())
              | , Designed by
              a(href='https://www.invisionapp.com', target='_blank') Invision
              | . Coded by
              a(href='https://www.creative-tim.com', target='_blank') Creative Tim
              | .
    // Core JS Files
    script(src='../assets/js/core/jquery.min.js')
    script(src='../assets/js/core/popper.min.js')
    script(src='../assets/js/core/bootstrap.min.js')
    script(src='../assets/js/plugins/perfect-scrollbar.jquery.min.js')
    // Chart JS
    script(src='../assets/js/plugins/chartjs.min.js')
    // Notifications Plugin
    script(src='../assets/js/plugins/bootstrap-notify.js')
    // Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
    script(src='../assets/js/now-ui-dashboard.js?v=1.0.1')
    // Now Ui Dashboard DEMO methods, don't include it in your project!
    script(src='../assets/demo/demo.js')
