doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='./assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='./assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title HEALTHY - Follow your health
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    // CSS Files
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/now-ui-kit.css?v=1.1.0', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='assets/css/demo.css', rel='stylesheet')
    // Canonical SEO
    link(rel='canonical', href='https://www.creative-tim.com/product/now-ui-kit')
    // Social tags
    meta(name='keywords', content='bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, now ui, now ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit')
    meta(name='description', content='Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.')
    // Schema.org markup for Google+
    meta(itemprop='name', content='Healthy')
    meta(itemprop='description', content='Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.')
    meta(itemprop='image', content='http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg')
    // Open Graph data
    meta(property='fb:app_id', content='655968634437471')
    meta(property='og:title', content='Now UI Kit by Creative Tim')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://demos.creative-tim.com/now-ui-kit/index.html')
    meta(property='og:image', content='http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg')
    meta(property='og:description', content='Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.')
    meta(property='og:site_name', content='Creative Tim')

    html
  head
  body.login-page.sidebar-collapse
    // Navbar
    nav.navbar.navbar-expand-lg.bg-primary.fixed-top.navbar-transparent(color-on-scroll='400')
      .container
        .dropdown.button-dropdown
          a#navbarDropdown.dropdown-toggle(href='#pablo', data-toggle='dropdown')
            span.button-bar
            span.button-bar
            span.button-bar
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-header Dropdown header
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated link
            .dropdown-divider
            a.dropdown-item(href='#') One more separated link
        .navbar-translate
          a.navbar-brand(href='/', rel='tooltip', title='Follow your health', data-placement='bottom', target='_blank')
            | HEALTHY
          button.navbar-toggler.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-bar.bar1
            span.navbar-toggler-bar.bar2
            span.navbar-toggler-bar.bar3
        .collapse.navbar-collapse.justify-content-end(data-nav-image='../assets/img/blurred-image-1.jpg')
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='../login') Sign in
            li.nav-item
              a.nav-link(href='contact') Contact us
            li.nav-item
              a.nav-link(rel='tooltip', title='Follow us on Twitter', data-placement='bottom', href='https://twitter.com/CreativeTim', target='_blank')
                i.fa.fa-twitter
                p.d-lg-none.d-xl-none Twitter
            li.nav-item
              a.nav-link(rel='tooltip', title='Like us on Facebook', data-placement='bottom', href='https://www.facebook.com/CreativeTim', target='_blank')
                i.fa.fa-facebook-square
                p.d-lg-none.d-xl-none Facebook
            li.nav-item
              a.nav-link(rel='tooltip', title='Follow us on Instagram', data-placement='bottom', href='https://www.instagram.com/CreativeTimOfficial', target='_blank')
                i.fa.fa-instagram
                p.d-lg-none.d-xl-none Instagram
    // End Navbar
    .page-header(filter-color='orange')
      .page-header-image(style='background-image:url(../assets/img/healthy-wall.jpg)')
      .container
        .col-md-4.content-center
          .card.card-login.card-plain
            form.form(method='POST', action='/register')
              .header.header-primary.text-center
                .logo-container
                  img(src='', alt='')
              .content
                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.users_circle-08
                  input.form-control(type='text', name='InputName', placeholder='First name...')
                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.users_circle-08
                  input.form-control(type='text', name='InputLastName', placeholder='Last name...')

                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.ui-1_lock-circle-open
                  input.form-control(type='text', name='InputEmail', placeholder='Email...')
                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.tech_mobile
                  input.form-control(type='text', name='InputPhone', placeholder='Phone number...')
                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.ui-1_calendar-60
                  input.form-control(type='date', name='InputDateOfBirth', placeholder='Phone number...')

                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.text_caps-small
                  input.form-control(type='password', name='InputPassword', placeholder='Password...')

                .input-group.form-group-no-border.input-lg
                  span.input-group-addon
                    i.now-ui-icons.text_caps-small
                  input.form-control(type='password', name='ConfirmPassword', placeholder='Confirm Password...')
              .footer.text-center
                input.btn.btn-primary.btn-round.btn-lg.btn-block(type='submit', value='Sign up')
              .pull-left
                h6
                  a.link(href='login') Have an account
              .pull-right
                h6
                  a.link(href='#pablo') Need Help?
      footer.footer
        .container
          nav
            ul
              li
                a(href='http://presentation.creative-tim.com')
                  | About Us
              li
                a(href='http://blog.creative-tim.com')
                  | Blog


    // Core JS Files
    script(src='assets/js/core/jquery.3.2.1.min.js', type='text/javascript')
    script(src='assets/js/core/popper.min.js', type='text/javascript')
    script(src='assets/js/core/bootstrap.min.js', type='text/javascript')
    // Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
    script(src='assets/js/plugins/bootstrap-switch.js')
    // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
    script(src='assets/js/plugins/nouislider.min.js', type='text/javascript')
    // Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker
    script(src='assets/js/plugins/bootstrap-datepicker.js', type='text/javascript')
    // Share Library etc
    script(src='assets/js/plugins/jquery.sharrre.js', type='text/javascript')
    // Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc
    script(src='assets/js/now-ui-kit.js?v=1.1.0', type='text/javascript')