doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title=title
    
    include includes/css/core.pug

    // Page level plugin CSS
    link(href='/datatables/dataTables.bootstrap4.css', rel='stylesheet')

    include includes/css/custom.pug

  body#page-top.page-footer
    include includes/navbar1.pug 
    .wrapper
      include includes/intro-board.pug

      .masthead-followup.row.m-0.border.border-white
        .col-12.col-md-4.p-3.p-md-5.bg-light.border.border-white
          // Icon by Bytesize https://github.com/danklammer/bytesize-icons
          svg.text-primary.mb-2(xmlns='http://www.w3.org/2000/svg', focusable='false', width='32', height='32', fill='none', stroke='currentcolor', stroke-width='2', viewbox='0 0 32 32', stroke-linecap='round', stroke-linejoin='round')
            title Import icon
            path(d='M28 22v8H4v-8M16 4v20m-8-8l8 8 8-8')
          h3 Mobile application
          p
            | Our Mobile application is now available on Android. Go to Android Play store and install it to make us take care of you
         
          hr.half-rule
          a.btn.btn-outline-primary(href='/docs/4.1/getting-started/download/') Android Application
        .col-12.col-md-4.p-3.p-md-5.bg-light.border.border-white
          // Icon by Bytesize https://github.com/danklammer/bytesize-icons
          svg.text-primary.mb-2(xmlns='http://www.w3.org/2000/svg', focusable='false', width='32', height='32', fill='none', stroke='currentcolor', stroke-width='2', viewbox='0 0 32 32', stroke-linecap='round', stroke-linejoin='round')
            title Download icon
            path(d='M9 22c-9 1-8-10 0-9C6 2 23 2 22 10c10-3 10 13 1 12m-12 4l5 4 5-4m-5-10v14')
          h3 How to use
          p
            | You feel hard by using our device. Don't worry! Follow our introduction and you will know how good it is
          
          hr.half-rule
          a.btn.btn-outline-primary(href='/docs/4.1/layout/overview/') Explore the docs
        .col-12.col-md-4.p-3.p-md-5.bg-light.border.border-white
          // Icon by Bytesize https://github.com/danklammer/bytesize-icons
          svg.text-primary.mb-2(xmlns='http://www.w3.org/2000/svg', focusable='false', width='32', height='32', fill='none', stroke='currentcolor', stroke-width='2', viewbox='0 0 32 32', stroke-linecap='round', stroke-linejoin='round')
            title Lightning icon
            path(d='M18 13l8-11L8 13l6 6-8 11 18-11z')
          h3 News for health
          p
            | Alway update so many news about health to protect your life better
          hr.half-rule
          a.btn.btn-outline-primary(href='https://themes.getbootstrap.com') Read news
      .space(style = 'background-color: white; padding: 20px')
           
           
    footer.page-footer
      .container
        .text-right
          small HEATH MORNITORING @2018

    include includes/scroll-to-top.pug

    include includes/modals/logout.pug

    include includes/js/core.pug

    // Page level plugin JavaScript
    script(src='js/chart.js/Chart.min.js')
    script(src='/datatables/jquery.dataTables.js')
    script(src='/datatables/dataTables.bootstrap4.js')

    include includes/js/custom.pug

    // Custom scripts for this page
    script(src='js/sb-admin-datatables.min.js')
    script(src='js/sb-admin-charts.min.js')
