doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title=title
    
    include includes/css/core.pug
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // Page level plugin CSS
    link(href='/datatables/dataTables.bootstrap4.css', rel='stylesheet')

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    - var data
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          h4 Hello
            | 
            =account.name.First
        if account.detail.account_type == 'normal'
          include includes/chart-bloodPressure
          include includes/chart-pulse.pug
          include includes/tables.pug  
        .row           
          include includes/news-feed.pug

            // /Card Columns
          .col-lg-5
            // Example Notifications Card
            .card.mb-3
              .card-header
                i.fa.fa-bell-o
                |  News
              .list-group.list-group-flush.small
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      strong David Miller
                      | posted a new article to
                      strong David Miller Website
                      | .
                      .text-muted.smaller Today at 5:43 PM - 5m ago
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      strong Samantha King
                      | sent you a new message!
                      .text-muted.smaller Today at 4:37 PM - 1hr ago
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      strong Jeffery Wellings
                      | added a new photo to the album
                      strong Beach
                      | .
                      .text-muted.smaller Today at 4:31 PM - 1hr ago
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      i.fa.fa-code-fork
                      strong Monica Dennis
                      | forked the
                      strong startbootstrap-sb-admin
                      | repository on
                      strong GitHub
                      | .
                      .text-muted.smaller Today at 3:54 PM - 2hrs ago
                a.list-group-item.list-group-item-action(href='#')
                  | View all activity...           
            
      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      // Page level plugin JavaScript
      script(src='js/chart.js/Chart.min.js')
      script(src='/datatables/jquery.dataTables.js')
      script(src='/datatables/dataTables.bootstrap4.js')

      include includes/js/custom.pug

      // Custom scripts for this page
      script(src='js/sb-admin-datatables.min.js')
      //- script(src='js/sb-admin-charts.js')
      //Draw chart
      script(type='text/javascript').
        // Chart.js scripts
        // -- Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';
        // -- Area Chart for Blood-pressure
        var index=!{JSON.stringify(index)};
        var j = 0;
        var blood_prs_index = [];
        var pulse = [];
        var oxygen = [];
        var date = [];
        for (var i = index.length - 13; i < index.length; i++) {
          if(i < 0 )
            continue;
          blood_prs_index[j] = index[i].Blood_pressure;
          console.log(blood_prs_index[j]);
          pulse[j] = index[i].Pulse;
          oxygen[j] = index[i].Oxygen;
          date[j++] = (new Date(index[i].Date)).toLocaleDateString('en-US');
        }
        document.getElementById("date_updated_1").innerHTML = date[date.length-1];
        document.getElementById("date_updated_2").innerHTML = date[date.length-1];
        document.getElementById("date_updated_3").innerHTML = date[date.length-1];

        console.log(date.length);       
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: date,
            datasets: [{
              label: "Blood pressure index: ",
              lineTension: 0.2,
              backgroundColor: "rgba(2,117,216,0.2)",
              borderColor: "#d43f99",
              pointRadius: 5,
              pointBackgroundColor: "rgba(2,117,216,1)",
              pointBorderColor: "rgba(255,255,255,0.8)",
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(2,117,216,1)",
              pointHitRadius: 0,
              pointBorderWidth: 2,
              data: blood_prs_index,
            }],
          },
          options: {
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false
                },
                ticks: {
                  maxTicksLimit: 7
                }
              }],
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 200,
                  maxTicksLimit: 5
                },
                gridLines: {
                  color: "rgba(0, 0, 0, .125)",
                }
              }],
            },
            legend: {
              display: false
            }
          }
        });
        // -- Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: date,
            datasets: [
              {
              type: "line",
              label: "Oxygen in Blood: ",
              lineTension: 0.1,
              backgroundColor: "rgba(255,255,255,0)",
              borderColor: "#d43f99",
              pointRadius: 5,
              pointBackgroundColor: "rgba(2,117,216,1)",
              pointBorderColor: "rgba(255,255,255,0.8)",
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(2,117,216,1)",
              pointHitRadius: 0,
              pointBorderWidth: 2,
              data: pulse,
            },
            {            
              label: "Pulse: ",
              backgroundColor: "rgba(2,117,216,0.5)",
              borderColor: "rgba(2,117,216,1)",
              data: oxygen,
            }],
          },
          options: {
            scales: {
              xAxes: [{
                time: {
                  unit: 'month'
                },
                gridLines: {
                  display: true
                },
                ticks: {
                  maxTicksLimit: 6
                }
              }],
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 200,
                  maxTicksLimit: 5
                },
                gridLines: {
                  display: true
                }
              }],
            },
            legend: {
              display: false
            }
          }
        });

        function parseISOString(s) {
          var b = s.split(/\D+/);
          return new Date(Date.UTC(b[0], b[1], b[2], b[3], b[4], b[5], b[6]));
        }

