doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title=title

    include includes/css/core.pug

    include includes/css/custom.pug

  body.bg-dark
    script(type='text/javascript').
      $(document).ready(function()
      {
        $( "#login-form" ).submit(function(event) 
        {
          event.preventDefault();
          $.ajax({
            type: 'POST',
            url: '/',
            data: $('#login-form').serialize(),
            dataType: "json",
            success: function(response)
            {
              $('#login-form')[0].reset();
              document.getElementById("check").innerHTML=response.Success;
              setTimeout(function(){
                document.getElementById("check").innerHTML="";
                },3000);
                if (response.Success=="You are regestered,You can login now.") 
                {
         					document.getElementById("d-block small mt-3").click();
         				};
            },
            error: function() {}
          })
        }),
      }),
  
    .container
      .card.card-login.mx-auto.mt-5
        .card-header
          | Login
        .card-body
          form(id='login-form', action='/login', method='POST')
            .form-group
              label(for='InputEmail') Email 
              input#exampleInputEmail1.form-control(type='email',name='InputEmail', aria-describedby='email', placeholder='Email')
            .form-group
              label(for='InputPassword') Password
              input#exampleInputPassword1.form-control(type='password', name='InputPassword',placeholder='Password')
            .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  |                   Remember Password
            .inform(style='text-align: center')
              span(id='check')
            input.btn.btn-primary.btn-block(type='submit', value='Login')
          .text-center
            a.d-block.small.mt-3(href='register') Register an Account
            a.d-block.small(href='forgot-password') Forgot Password?

    include includes/js/core.pug
