doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    title=title

    include includes/css/core.pug

    include includes/css/custom.pug

  body.bg-dark
    script(type='text/javascript').
      $(document).ready(function()
      {
        $( "#register-form" ).submit(function(event) 
        {
          event.preventDefault();
          $.ajax({
            type: 'POST',
            url: '/',
            data: $('#register-form').serialize(),
            dataType: "json",
            success: function(response)
            {
              $('#register-form')[0].reset();
              document.getElementById("check").innerHTML=response.Success;
              setTimeout(function(){
                document.getElementById("check").innerHTML="";
                },3000);
                if (response.Success=="You are regestered,You can login now.") 
                {
         					document.getElementById("d-block small mt-3").click();
         				};
            },
            error: function() {}
          })
        }),
      }),
    .container
      .card.card-register.mx-auto.mt-5
        .card-header
          | Register an Account
        .card-body
          form(id='register-form', action='/register', method='POST')
            .form-group
              .form-row
                .col-md-6
                  .form-row
                    label(for='InputName') First name
                    input#exampleInputName.form-control(type='text', name='InputName', aria-describedby='nameHelp', placeholder='Enter first name')
                  .form-row
                    label(for='InputLastName') Last name
                    input#exampleInputLastName.form-control(type='text', name='InputLastName',aria-describedby='nameHelp', placeholder='Enter last name')
                .col-md-6
                  label Upload Avatar
                  .input-group
                    span.input-group-btn
                      span.btn.btn-default.btn-file
                        img#img-upload(src='https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/user-512.png', style='width:100px;height:100px;')
                        input#imgInp(type='file', name='InputAvatar')
            .form-group  
              .form-row
                .col-md-6
                  label(for='InputAge') Date of birth
                  input#exampleInputName.form-control(type='date', name='InputDateOfBirth', aria-describedby='nameHelp')
                .col-md-6
                  label(for='InputAge') Phone number
                  input#exampleInputName.form-control(type='text', name='InputPhone', aria-describedby='nameHelp', placeholder='Enter your phone number')

            .form-group
              label(for='InputEmail') Email address
              input#exampleInputEmail1.form-control(type='email', name='InputEmail',aria-describedby='emailHelp', placeholder='Enter email')
            .form-group
              .form-row
                .col-md-6
                  label(for='InputPassword') Password
                  input#exampleInputPassword1.form-control(type='password', name='InputPassword',placeholder='Password')
                .col-md-6
                  label(for='ConfirmPassword') Confirm password
                  input#exampleConfirmPassword.form-control(type='password', name='ConfirmPassword', placeholder='Confirm passwod')
            .inform(style='text-align: center')
              span(id='check')
            input.btn.btn-primary.btn-block(type='submit', value='Register',onclick='myFunction()')
          .text-center
            a.d-block.small.mt-3(href='login') Login Page
            a.d-block.small(href='forgot-password') Forgot Password?
    script.
      $(document).ready( function() {
        $(document).on('change', '.btn-file :file', function() {
          var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
              input.trigger('fileselect', [label]);
          });

              $('.btn-file :file').on('fileselect', function(event, label) {
                  
                  var input = $(this).parents('.input-group').find(':text'),
                      log = label;
                  
                  if( !input.length ) {
                      input.val(log);
                  } 
                
              });
              function readURL(input) {
                  if (input.files && input.files[0]) {
                      var reader = new FileReader();
                      
                      reader.onload = function (e) {
                          $('#img-upload').attr('src', e.target.result);
                      }
                      
                      reader.readAsDataURL(input.files[0]);
                  }
              }

              $("#imgInp").change(function(){
                  readURL(this);
              }); 	
            });
    include includes/js/core.pug
