.row
    .card
        .card-body
            .places-buttons
                .row
                    .col-md-6.ml-auto.mr-auto.text-center
                        h3.card-title
                            | Preliminary diagnosis
                        p.category Based on your health indicators
                .row
                    .col-lg-8.ml-auto.mr-auto
                        #chandoanBloodPressure
                        .row
                            .col-lg-8.ml-auto.mr-auto
                        #chandoanSpo2
                        #chandoanPulse



script(type='text/javascript').
    var index=!{JSON.stringify(index)};
    var sysBlood = parseInt(index[index.length-1].Blood_pressure);
    var pulse1 = parseInt(index[index.length-2].Pulse);
    var pulse2 = parseInt(index[index.length-1].Pulse);
    var spo2 = parseInt(index[index.length-1].Oxygen);

    console.log(index.length);

    if (sysBlood < 120 && sysBlood > 60)
    {
        console.log("test");
        document.getElementById("chandoanBloodPressure").classList.add("alert");
        document.getElementById("chandoanBloodPressure").classList.add("alert-success");
        document.getElementById('chandoanBloodPressure').innerHTML = "Your blood pressure is normail and nothing special";
    }
    else if (sysBlood >= 120 && sysBlood <160)
    {
        document.getElementById("chandoanBloodPressure").classList.add("alert");
        document.getElementById("chandoanBloodPressure").classList.add("alert-warning");
        document.getElementById('chandoanBloodPressure').innerHTML = "Your blood pressure is quite high. You are in Prehypertension. Please contact your doctor";
    }
    else if (sysBlood >= 160)
    {
        document.getElementById("chandoanBloodPressure").classList.add("alert");
        document.getElementById("chandoanBloodPressure").classList.add("alert-warning");
        document.getElementById('chandoanBloodPressure').innerHTML = "Your blood pressure is too high. You are in hypertension. Please contact your doctor";
    }

