    .wrapper
      .sidebar(data-color='orange')
        //
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
          a.simple-text.logo-mini(href='http://www.creative-tim.com')
            | CT
          a.simple-text.logo-normal(href='http://www.creative-tim.com')
            | Creative Tim
        .sidebar-wrapper
          ul.nav
            li.active
              a(href='../examples/dashboard.html')
                i.now-ui-icons.design_app
                p Dashboard
            li
              a(href='../notifications.html')
                i.now-ui-icons.ui-1_bell-53
                p Notifications
            li
              a(href='../examples/user.html')
                i.now-ui-icons.users_single-02
                p User Profile
            li
              a(href='../examples/tables.html')
                i.now-ui-icons.design_bullet-list-67
                p Table List
            li.active-pro
              a(href='../examples/upgrade.html')
                i.now-ui-icons.arrows-1_cloud-download-93
                p Instll application
      .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.bg-primary.fixed-top
          .container-fluid
            .navbar-wrapper
              .navbar-toggle
                button.navbar-toggler(type='button')
                  span.navbar-toggler-bar.bar1
                  span.navbar-toggler-bar.bar2
                  span.navbar-toggler-bar.bar3
              a.navbar-brand(href='#pablo') Dashboard
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
              span.navbar-toggler-bar.navbar-kebab
            #navigation.collapse.navbar-collapse.justify-content-end
              form
                .input-group.no-border
                  input.form-control(type='text', value='', placeholder='Search...')
                  span.input-group-addon
                    i.now-ui-icons.ui-1_zoom-bold
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.now-ui-icons.media-2_sound-wave
                    p
                      span.d-lg-none.d-md-block Stats
                li.nav-item.dropdown
                  a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.now-ui-icons.location_world
                    p
                      span.d-lg-none.d-md-block Some Actions
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.now-ui-icons.users_single-02
                    p
                      span.d-lg-none.d-md-block Account
        // End Navbar
