li.nav-item.dropdown
    
    if account == 'Sign in'  
        a#profileDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fa.fa-user
            span.d-lg-none
            |   
            =account.name.First
        .dropdown-menu.dropdown-menu-right(aria-labelledby='profileDropdown')
            a.dropdown-item(href='/login') Sign in
            a.dropdown-item(href='/register') Register
            a.dropdown-item(href='/aboutus') About us    
    else
        a#profileDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fa.fa-user
            span.d-lg-none
            |   
            =account.name.First
        .dropdown-menu.dropdown-menu-right(aria-labelledby='profileDropdown')
            a.dropdown-item(href='/profile') Profile
            a.dropdown-item(href='/sumary') Sumary
            a.dropdown-item(href='/aboutus') About us 
            .dropdown-divider
            a.dropdown-item(href='/logout') Log out    
